@import '../shared.scss';

.page-home-tab-bar {
  width: fit-content;
}
.page-home-content {
  margin: 0 auto;
  margin-bottom: 100px;
}

.tab-color[aria-selected='false'] {
  color: $color-text-primary-dark !important;
}

.tab-color[aria-selected='true'] {
  color: $color-tab-active !important;
}
