//--------------- COLORS -----------------
$color-text-primary-dark: #22292f;
$color-text-primary-light: #4d4d4d;
$color-text-light: #414141;
$color-text-contrast: white;
$color-primary: #00ad9f;
$color-primary-hover: #00c2b2;
$color-secondary: blue;
$color-link: #2196f3;
$color-reading: #43abc9;
$color-exercises: #f58b4c;
$border-color: #c6c7cd;

$accent-surface-primary-light: #eff3f6;
$accent-surface-secondary-light: #f4f4f4;
$accent-surface-secondary-medium: #ebebeb;
$color-danger: #fb6d77;
$color-danger-hover: #fa3d4a;

//--------------- SIZES ------------------
$font-size-large: 34px;
$font-size-medium: 20px;
$font-size-small: 16px;

$content-width-max: 900px;
$spacing-unit: 5px;

//--------------- FONTS ------------
$font-primary: 'Roboto', sans-serif;
$font-weight-bold: 700;
